body {
    /* background-image: url(../img/pipa.png); */
    background-color: black;
    background-size: cover;
}

.services-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.services-h3 h3 {
    padding: 1% 0;
    color: white;
    text-align: center;
    margin: 0;
}

.service {
    /* background-image: url(../img/pipa.png); */
    background-position: 50% 23%;
    background-repeat: no-repeat;
    margin-top: 0%;
    
}

@media screen and (min-width: 700px){
    .service {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .service .none {
        display: block;
    }
}

@media screen and (max-width: 700px){ 
    .service {
        display: grid;
        grid-template-columns: 1fr ;
    }

    .service .none {
        display: none;
    }
}

.service div {
    margin: 0rem 1rem 0rem 1rem;
    padding: 1rem;
}

.service .exist {
    /* border-style: solid; */
    color: white;
    background-color: white;
    /* border-radius: 1rem; */
}

.service .exist h5 {
    color: black;
}

.about {
    
}

.about .aboutbg {
    background-image: url(../img/4Delmar/Delmar-1.gif);
    background-size: cover;
    background-position: 50% 23%;
    background-repeat: no-repeat;
    backdrop-filter: brightness(25%);
    -webkit-backdrop-filter: brightness(25%);
}

.about h5 {
    margin: 0 1rem;
}

footer .footer-bar .using-service  {
    background-color: white;
    color: black;
    border: 1px solid #f7654a;
}