


@media screen and (min-width: 1250px) {
    
    
    

    .block-white .service-button {
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        padding: 3%;
        color: black;
        font-weight: bold;
        border: 1px solid #f7654a;
        margin: auto 0;
        text-align: center;
        outline: none;
        text-decoration: none;
        align-content: center;
        justify-content: center;
        border-radius: 1rem;
        transition: background-color 0.5s;
    } 

    .block-white .service-button:hover,
    .block-white .service-button:active {
        background-color: #f7654a;
        color: white;
        font-weight: bold;
    }
    
    .block-black .service-button {
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        padding: 3%;
        color: white;
        border: 1px solid #f7654a;
        margin: auto 0;
        text-align: center;
        outline: none;
        text-decoration: none;
        align-content: center;
        justify-content: center;
        border-radius: 1rem;
        transition: background-color 0.5s;
}

    .block-black .service-button:hover,
    .block-black .service-button:active {
        background-color: #f7654a;
        color: black;
        font-weight: bold;
}

}

@media screen
and (max-width: 1250px){ 
    .service-button {
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        padding: 4%;
        color: white;
        border: 1px solid #f7654a;
        margin: auto 0;
        text-align: center;
        outline: none;
        text-decoration: none;
        align-content: center;
        justify-content: center;
        border-radius: 1rem;
}

    .service-button:hover,
    .service-button:active {
        background-color: #f7654a;
        color: black;
        font-weight: bold;
}
}


    .contact-button {
        margin-top: 5%;
        padding: 5% 5%;
        border-radius: 1rem;
        background-color:  black;
        border: 1px solid  #f7654a;
        font-family: "Roboto";
        width: 100%;
        color: white;
}

    .contact-button:hover,
    .contact-button:active {
        background-color: #f7654a;
        color: black;
}
