* {
    margin: 0;
}

body {
    margin: 0;
}

.super-hr {
    width: 35%;
    justify-content: left;
    margin: 2%;
    color: #f7654a;
    opacity: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(15, 15, 15, 0.90);
    height: 80px;
}

.header-top img {
    max-width: 25%;
}

article {
    background-color: white;
    display: flex;
    flex-direction: column;
}

article .top-separate h3 {
    text-align: center;
    margin: 4%;
}

article section h4 {
    text-align: center;
    padding: 2%;
}

article hr {
    width: 20%;
    justify-content: left;
    margin-left: 1%;
    color: black;
}

.block-separate {
    background-color: black;
    color: white;
}

article .top-separate {
    /* background-color: white;
    color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-bar .using-project {
    background-color: white;
    color: black;
    border: 1px solid #f7654a;
}

.carousel {
    display: flex;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    /* margin-bottom: -1em; */
}

.pictures {
    scroll-snap-type: x proximity;
    display: flex;
    
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    /* margin-bottom: -1em; */
    transition: left 1s;
    margin: 0 1em;
}

.pictures div {
    scroll-snap-align: center;
}

a {
    display: inline-block;
}

@media screen and (min-width: 1500px) {
    
    .pictures img {
        object-fit: cover;
        object-position: left;
        margin-bottom: 1em;
        width: 22rem;
        height: 22rem;
    }
    .carousel-pictures {
        width: 22rem;
        height: 22rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {

    .pictures img {
        object-fit: cover;
        object-position: left;
        margin-bottom: 1em;
        width: 16rem;
        height: 16rem;
    }
    .carousel-pictures {
        width: 16rem;
        height: 16rem;
    }
}

@media screen and (max-width: 900px) {

    .pictures img {
        object-fit: cover;
        object-position: left;
        margin-bottom: 1em;
        width: 23rem;
        height: 15rem;
    }
    .carousel-pictures {
        width: 12rem;
        height: 12rem;
    }
}

.pictures {
    overflow: hidden;
    
    /* position: relative; */
    /* min-height: 100vh; */
    /* background: #ddd; */
}


.pictures .image {
    /* height: 250px; */
    /* width: 350px; */
    /* border: 10px solid #fff; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    /* overflow: hidden; */
    cursor: pointer;
}

.popup-image {
    position: fixed;
    top:0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top:31px; right:10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #fff; */
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media ( max-width:768px) {
    .popup-image img {
        width: 95%;
    }
}

/* .full {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8%;
    background: #CCC center no-repeat;
    background-color: black;
    background: rgba(0, 0, 0, 0.5) center no-repeat;
    -webkit-background-origin: content-box;
    background-size: contain;
    background-origin: content-box;
} */

/* a:focus+.full {
    display: block;
} */

.prev,
.next {
    text-decoration: none;
    position: absolute;
    z-index: 2;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    background: none rgba(0, 0, 0, 0);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0.25rem;
    padding: 0px 0.5rem;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}