.services-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
}

.services article div h3 {
    padding: 2%;
    margin: 0%;
    font-size: 110%;
    font-family: 'Playfair Display', serif;
}

.services article div hr {
    display: none;
}

.services article div h4 {
    display: none;
    padding: 2%;
}

.service-button {
    padding: 2%!important;
}

.services article {
    display: flex;
    text-align: center;
    color: white;
    backdrop-filter: brightness(45%);
    -webkit-backdrop-filter: brightness(45%);
    /* background-attachment: fixed; */
        background-position: center;  
}

.services img {
    max-width: 100%;
}

.services .white-columns {
    background-color: white;
}

.services article .photo-columns  {
    display: none;
}

.services article div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 3% 0% 4% 0%;
    backdrop-filter: brightness(25%);          
    -webkit-backdrop-filter: brightness(25%);  
}


@media screen and (min-width: 900px) {    
.services .white-columns {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services .black-columns {
    background-color: black;
    color :white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services article .photo-columns {
    display: contents;
}

}


footer .footer-bar .using-service {
    background-color: white;
    color: black;
    border: 1px solid #f7654a;
}

@media screen and (min-width: 1250px) {
    .block-white {
        background-image: none!important;
    }
}

@media screen
and (min-width: 615px) 
and (max-width: 1250px){ 
    
}

@media screen and (max-width: 615px) {

}